<h1>
    Movie Search
</h1>

<nav>
    <ul style="float: inline-block;">
        <li><a href="">Weather</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Help</a></li>
    </ul>
</nav>
<br>